Repository pinetwork-js/pi-browser-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"*.{js,cjs,ts,tsx}": ["eslint --fix"],
	"*.{json,md,yml}": ["prettier --write"]
}

ci: update lint workflow
  .github/workflows/lint.yml
  package.json
Due: prettier --write

feat: update browser version to 1.11.0
  scripts/core/src/setup/setup-config.ts
  scripts/iframe/src/config-user-agent.ts
Due: eslint --fix

feat: handle pinet.com links
  README.md
  scripts/core/src/get-url-from-link.ts
  scripts/core/src/transform-to-pi-url.ts
  scripts/iframe/src/fixes/fix-go-back-button.ts
  scripts/iframe/src/setup/setup-navigation-update.ts
Due: eslint --fix, prettier --write

fix: blockchain explorer button on home
  scripts/iframe/src/iframes/middle-iframe.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ci: fix branch selection on lint
  .github/workflows/lint.yml
Due: prettier --write

chore: bump core to 1.5.0
  scripts/core/package.json
Due: prettier --write

chore: bump iframe to 1.4.0
  scripts/iframe/package.json
Due: prettier --write

Deploying to gh-pages from @ pinetwork-js/pi-browser-extension@59fe597e0320eb9252996b92913434328cf2288c 🚀
  iframe/pi-browser-extension-iframe.js
  iframe/pi-browser-extension-iframe.meta.js
  iframe/pi-browser-extension-iframe.user.js
Due: eslint --fix

Deploying to gh-pages from @ pinetwork-js/pi-browser-extension@59fe597e0320eb9252996b92913434328cf2288c 🚀
  core/pi-browser-extension-core.js
  core/pi-browser-extension-core.meta.js
  core/pi-browser-extension-core.user.js
Due: eslint --fix
